USE [master]
GO
/****** Object:  Database [PC_Builder_Company_SA]    Script Date: 2022. 04. 12. 11:30:52 ******/
CREATE DATABASE [PC_Builder_Company_SA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PC_Builder_Company_SA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\PC_Builder_Company_SA.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PC_Builder_Company_SA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\PC_Builder_Company_SA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PC_Builder_Company_SA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PC_Builder_Company_SA]
GO
/****** Object:  Table [dbo].[Assembly_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assembly_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[ComputerID] [nvarchar](512) NULL,
	[ComponentID] [nvarchar](512) NULL,
 CONSTRAINT [PK_Assembly_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assembly_Oracle]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assembly_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[ComputerID] [nvarchar](512) NULL,
	[ComponentID] [nvarchar](512) NULL,
 CONSTRAINT [PK_Assembly_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Name] [nvarchar](512) NULL,
 CONSTRAINT [PK_Categories_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories_Oracle]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Name] [nvarchar](512) NULL,
 CONSTRAINT [PK_Categories_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Components_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Launch_year] [nvarchar](512) NULL,
	[Seria] [nvarchar](512) NULL,
	[CategoryID] [nvarchar](512) NULL,
 CONSTRAINT [PK_Components_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Components_Oracle]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Components_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Launch_year] [nvarchar](512) NULL,
	[Seria] [nvarchar](512) NULL,
	[CategoryID] [nvarchar](512) NULL,
 CONSTRAINT [PK_Components_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computers_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Name] [nvarchar](512) NULL,
	[Warrantee] [nvarchar](512) NULL,
	[Description] [nvarchar](512) NULL,
	[Created] [nvarchar](512) NULL,
 CONSTRAINT [PK_Computers_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Computers_Oracle]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computers_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Name] [nvarchar](512) NULL,
	[Warrantee] [nvarchar](512) NULL,
	[Description] [nvarchar](512) NULL,
	[Created] [nvarchar](512) NULL,
 CONSTRAINT [PK_Computers_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Name] [nvarchar](512) NULL,
	[Email] [nvarchar](512) NULL,
	[Phone] [nvarchar](512) NULL,
	[Person_or_Company] [nvarchar](512) NULL,
	[LocationID] [nvarchar](512) NULL,
	[CNP_or_CodeFiscal] [nvarchar](512) NULL,
	[EffectiveDate] [nvarchar](521) NULL,
 CONSTRAINT [PK_Customers_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers_Oracle]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Name] [nvarchar](512) NULL,
	[Email] [nvarchar](512) NULL,
	[Phone] [nvarchar](512) NULL,
	[Person_or_Company] [nvarchar](512) NULL,
	[LocationID] [nvarchar](512) NULL,
	[CNP_or_CodeFiscal] [nvarchar](512) NULL,
	[EffectiveDate] [nvarchar](521) NULL,
 CONSTRAINT [PK_Customers_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Country] [nvarchar](512) NULL,
	[City] [nvarchar](512) NULL,
	[Address] [nvarchar](512) NULL,
 CONSTRAINT [PK_Locations_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations_Oracle]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Country] [nvarchar](512) NULL,
	[City] [nvarchar](512) NULL,
	[Address] [nvarchar](512) NULL,
 CONSTRAINT [PK_Locations_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Name] [nvarchar](512) NULL,
 CONSTRAINT [PK_Manufacturers_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers_Oracle]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Name] [nvarchar](512) NULL,
 CONSTRAINT [PK_Manufacturers_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Date] [nvarchar](512) NULL,
	[Price] [nvarchar](512) NULL,
	[Amount] [nvarchar](512) NULL,
	[ManufacturerID] [nvarchar](512) NULL,
	[ComponentID] [nvarchar](512) NULL,
 CONSTRAINT [PK_Purchases_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchases_Oracle]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchases_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Date] [nvarchar](512) NULL,
	[Price] [nvarchar](512) NULL,
	[Amount] [nvarchar](512) NULL,
	[ManufacturerID] [nvarchar](512) NULL,
	[ComponentID] [nvarchar](512) NULL,
 CONSTRAINT [PK_Purchases_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purpose_of_sale_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purpose_of_sale_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Definition] [nvarchar](512) NULL,
 CONSTRAINT [PK_Purpose_of_sale_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purpose_of_sale_Oracle]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purpose_of_sale_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Definition] [nvarchar](512) NULL,
 CONSTRAINT [PK_Purpose_of_sale_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_MSSQL]    Script Date: 2022. 04. 12. 11:30:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_MSSQL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Date] [nvarchar](512) NULL,
	[Amount] [nvarchar](512) NULL,
	[PurposeID] [nvarchar](512) NULL,
	[CustomerID] [nvarchar](512) NULL,
	[ComputerID] [nvarchar](512) NULL,
	[Price] [nvarchar](512) NULL,
 CONSTRAINT [PK_Sales_MSSQL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Oracle]    Script Date: 2022. 04. 12. 11:30:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Oracle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EXECUTION_INSTANCE_GUID] [nvarchar](38) NOT NULL,
	[LOAD_DATE] [datetime] NOT NULL,
	[Date] [nvarchar](512) NULL,
	[Amount] [nvarchar](512) NULL,
	[PurposeID] [nvarchar](512) NULL,
	[CustomerID] [nvarchar](512) NULL,
	[ComputerID] [nvarchar](512) NULL,
	[Price] [nvarchar](512) NULL,
 CONSTRAINT [PK_Sales_Oracle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assembly_MSSQL] ON 

INSERT [dbo].[Assembly_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [ComputerID], [ComponentID]) VALUES (1, N'{63C24C42-87AB-4AFE-99D6-4FE14205855A}', CAST(N'2022-04-12T08:47:12.000' AS DateTime), N'1', N'4')
INSERT [dbo].[Assembly_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [ComputerID], [ComponentID]) VALUES (2, N'{63C24C42-87AB-4AFE-99D6-4FE14205855A}', CAST(N'2022-04-12T08:47:12.000' AS DateTime), N'1', N'9')
INSERT [dbo].[Assembly_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [ComputerID], [ComponentID]) VALUES (3, N'{63C24C42-87AB-4AFE-99D6-4FE14205855A}', CAST(N'2022-04-12T08:47:12.000' AS DateTime), N'1', N'13')
SET IDENTITY_INSERT [dbo].[Assembly_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Assembly_Oracle] ON 

INSERT [dbo].[Assembly_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [ComputerID], [ComponentID]) VALUES (1, N'{4F53F6E7-B375-4503-8B15-E2B1021670FF}', CAST(N'2022-04-12T08:48:29.000' AS DateTime), N'6', N'1')
INSERT [dbo].[Assembly_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [ComputerID], [ComponentID]) VALUES (2, N'{4F53F6E7-B375-4503-8B15-E2B1021670FF}', CAST(N'2022-04-12T08:48:29.000' AS DateTime), N'7', N'1')
INSERT [dbo].[Assembly_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [ComputerID], [ComponentID]) VALUES (3, N'{4F53F6E7-B375-4503-8B15-E2B1021670FF}', CAST(N'2022-04-12T08:48:29.000' AS DateTime), N'9', N'1')
GO
SET IDENTITY_INSERT [dbo].[Assembly_Oracle] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories_MSSQL] ON 

INSERT [dbo].[Categories_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (1, N'{47C66CC4-8286-4262-8B7E-5B05BBC51837}', CAST(N'2022-04-12T08:47:14.000' AS DateTime), N'Processors')
INSERT [dbo].[Categories_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (2, N'{47C66CC4-8286-4262-8B7E-5B05BBC51837}', CAST(N'2022-04-12T08:47:14.000' AS DateTime), N'Graphics Cards')
INSERT [dbo].[Categories_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (3, N'{47C66CC4-8286-4262-8B7E-5B05BBC51837}', CAST(N'2022-04-12T08:47:14.000' AS DateTime), N'Motherboards')
SET IDENTITY_INSERT [dbo].[Categories_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories_Oracle] ON 

INSERT [dbo].[Categories_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (1, N'{6EB18950-9A55-40DE-80D8-715228BE38BF}', CAST(N'2022-04-12T08:48:30.000' AS DateTime), N'"Processors"')
INSERT [dbo].[Categories_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (2, N'{6EB18950-9A55-40DE-80D8-715228BE38BF}', CAST(N'2022-04-12T08:48:30.000' AS DateTime), N'"Graphics Cards"')
INSERT [dbo].[Categories_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (3, N'{6EB18950-9A55-40DE-80D8-715228BE38BF}', CAST(N'2022-04-12T08:48:30.000' AS DateTime), N'"Motherboards"')
SET IDENTITY_INSERT [dbo].[Categories_Oracle] OFF
GO
SET IDENTITY_INSERT [dbo].[Components_MSSQL] ON 

INSERT [dbo].[Components_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Launch_year], [Seria], [CategoryID]) VALUES (1, N'{CCC17262-9361-4A3E-8223-3893F4A54DD5}', CAST(N'2022-04-12T08:47:16.000' AS DateTime), N'2015', N'i5-6500', N'1')
INSERT [dbo].[Components_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Launch_year], [Seria], [CategoryID]) VALUES (2, N'{CCC17262-9361-4A3E-8223-3893F4A54DD5}', CAST(N'2022-04-12T08:47:16.000' AS DateTime), N'2015', N'i5-6600K', N'1')
INSERT [dbo].[Components_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Launch_year], [Seria], [CategoryID]) VALUES (3, N'{CCC17262-9361-4A3E-8223-3893F4A54DD5}', CAST(N'2022-04-12T08:47:16.000' AS DateTime), N'2016', N'i7-6800K', N'1')
SET IDENTITY_INSERT [dbo].[Components_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Components_Oracle] ON 

INSERT [dbo].[Components_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Launch_year], [Seria], [CategoryID]) VALUES (1, N'{7984F476-8ED7-4F24-A65B-07D9FD60A6CE}', CAST(N'2022-04-12T08:48:31.000' AS DateTime), N'2017', N'"i3-7320"', N'1')
INSERT [dbo].[Components_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Launch_year], [Seria], [CategoryID]) VALUES (2, N'{7984F476-8ED7-4F24-A65B-07D9FD60A6CE}', CAST(N'2022-04-12T08:48:31.000' AS DateTime), N'2017', N'"i3-8350K"', N'1')
INSERT [dbo].[Components_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Launch_year], [Seria], [CategoryID]) VALUES (3, N'{7984F476-8ED7-4F24-A65B-07D9FD60A6CE}', CAST(N'2022-04-12T08:48:31.000' AS DateTime), N'2012', N'"i5-3570K"', N'1')
SET IDENTITY_INSERT [dbo].[Components_Oracle] OFF
GO
SET IDENTITY_INSERT [dbo].[Computers_MSSQL] ON 

SET IDENTITY_INSERT [dbo].[Computers_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Computers_Oracle] ON 

INSERT [dbo].[Computers_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name], [Warrantee], [Description], [Created]) VALUES (1, N'{487390BB-2351-468F-A7BC-EC3CCCF0AF0B}', CAST(N'2022-04-12T08:48:31.000' AS DateTime), N'"AER 100"', N'5', N'"Processors: Ryzen 3 1200 Graphics Cards: GeForce ', N'11-AUG-19')
INSERT [dbo].[Computers_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name], [Warrantee], [Description], [Created]) VALUES (2, N'{487390BB-2351-468F-A7BC-EC3CCCF0AF0B}', CAST(N'2022-04-12T08:48:31.000' AS DateTime), N'"AER 200"', N'2', N'"Processors: Ryzen 3 1200 Graphics Cards: Strix RX', N'30-SEP-20')
INSERT [dbo].[Computers_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name], [Warrantee], [Description], [Created]) VALUES (3, N'{487390BB-2351-468F-A7BC-EC3CCCF0AF0B}', CAST(N'2022-04-12T08:48:31.000' AS DateTime), N'"AER 300"', N'2', N'"Processors: i3-8350K Graphics Cards: Strix RX 470', N'29-APR-19')
SET IDENTITY_INSERT [dbo].[Computers_Oracle] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers_MSSQL] ON 

INSERT [dbo].[Customers_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name], [Email], [Phone], [Person_or_Company], [LocationID], [CNP_or_CodeFiscal], [EffectiveDate]) VALUES (1, N'{19B5C4E1-6201-4531-8428-07852374FC60}', CAST(N'2022-04-12T08:47:18.000' AS DateTime), N'MasterCard', N'MonikaKohler@mastercard.com', N'03764 89 20 78', N'True', N'1', N'38645357', N'2021-03-25 00:00:00')
INSERT [dbo].[Customers_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name], [Email], [Phone], [Person_or_Company], [LocationID], [CNP_or_CodeFiscal], [EffectiveDate]) VALUES (2, N'{19B5C4E1-6201-4531-8428-07852374FC60}', CAST(N'2022-04-12T08:47:18.000' AS DateTime), N'Frank Glockner', N'FrankGlockner@dayrep.com', N'07345 53 63 34', N'False', N'2', N'8628927667194', N'2021-04-22 00:00:00')
INSERT [dbo].[Customers_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name], [Email], [Phone], [Person_or_Company], [LocationID], [CNP_or_CodeFiscal], [EffectiveDate]) VALUES (3, N'{19B5C4E1-6201-4531-8428-07852374FC60}', CAST(N'2022-04-12T08:47:18.000' AS DateTime), N'Mathias Frey', N'MathiasFrey@teleworm.us', N'0660 501 62 09', N'False', N'3', N'5934661327569', N'2021-07-15 00:00:00')
SET IDENTITY_INSERT [dbo].[Customers_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers_Oracle] ON 

INSERT [dbo].[Customers_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name], [Email], [Phone], [Person_or_Company], [LocationID], [CNP_or_CodeFiscal], [EffectiveDate]) VALUES (1, N'{B1225EB1-5DF5-4899-AA0A-13F4883936B6}', CAST(N'2022-04-12T08:48:32.000' AS DateTime), N'"MasterCard"', N'"jackeline.finley@mastercard.com"', N'"+1 313 123 4240"', N'1', N'14', N'"38645357"', N'19-JAN-20')
INSERT [dbo].[Customers_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name], [Email], [Phone], [Person_or_Company], [LocationID], [CNP_or_CodeFiscal], [EffectiveDate]) VALUES (2, N'{B1225EB1-5DF5-4899-AA0A-13F4883936B6}', CAST(N'2022-04-12T08:48:32.000' AS DateTime), N'"Oracle"', N'"yolando.wilkerson@oracle.com"', N'"+1 716 123 4485"', N'1', N'15', N'"	27374988"', N'20-JAN-20')
INSERT [dbo].[Customers_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name], [Email], [Phone], [Person_or_Company], [LocationID], [CNP_or_CodeFiscal], [EffectiveDate]) VALUES (3, N'{B1225EB1-5DF5-4899-AA0A-13F4883936B6}', CAST(N'2022-04-12T08:48:32.000' AS DateTime), N'"GameStop"', N'"yolanda.ball@gamestopcorp.com"', N'"+91 80 012 4809"', N'1', N'16', N'"	15591983"', N'17-MAY-20')
SET IDENTITY_INSERT [dbo].[Customers_Oracle] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations_MSSQL] ON 

INSERT [dbo].[Locations_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Country], [City], [Address]) VALUES (1, N'{324F0AC8-BF97-4D28-B819-915FBE150880}', CAST(N'2022-04-12T08:47:18.000' AS DateTime), N'Germany', N'Thüringen', N'Fichtestr. 50b, Apt. 156, 30283, Nord Jonathanburg')
INSERT [dbo].[Locations_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Country], [City], [Address]) VALUES (2, N'{324F0AC8-BF97-4D28-B819-915FBE150880}', CAST(N'2022-04-12T08:47:18.000' AS DateTime), N'Germany', N'Bayern', N'Blaukehlchenweg 16a, 0 OG, 47393, Nord Arwen')
INSERT [dbo].[Locations_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Country], [City], [Address]) VALUES (3, N'{324F0AC8-BF97-4D28-B819-915FBE150880}', CAST(N'2022-04-12T08:47:18.000' AS DateTime), N'Austria', N'Vorarlberg', N'Kennedybrücke 30b, Apt. 437, 2780, Waidhofen an der Thaya')
SET IDENTITY_INSERT [dbo].[Locations_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations_Oracle] ON 

INSERT [dbo].[Locations_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Country], [City], [Address]) VALUES (1, N'{C2439EEF-5303-49FA-B356-6C4724C69A4A}', CAST(N'2022-04-12T08:48:32.000' AS DateTime), N'"Italy"', N'"Roma"', N'"1297 Via Cola di Rie"')
INSERT [dbo].[Locations_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Country], [City], [Address]) VALUES (2, N'{C2439EEF-5303-49FA-B356-6C4724C69A4A}', CAST(N'2022-04-12T08:48:32.000' AS DateTime), N'"Italy"', N'"Venice"', N'"93091 Calle della Testa"')
INSERT [dbo].[Locations_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Country], [City], [Address]) VALUES (3, N'{C2439EEF-5303-49FA-B356-6C4724C69A4A}', CAST(N'2022-04-12T08:48:32.000' AS DateTime), N'"Australia"', N'"Sydney"', N'"12-98 Victoria Street"')
SET IDENTITY_INSERT [dbo].[Locations_Oracle] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers_MSSQL] ON 

INSERT [dbo].[Manufacturers_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (1, N'{ED5C176A-6DB6-499D-B2D1-C627EA4E7ADF}', CAST(N'2022-04-12T08:47:19.000' AS DateTime), N'Intel')
INSERT [dbo].[Manufacturers_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (2, N'{ED5C176A-6DB6-499D-B2D1-C627EA4E7ADF}', CAST(N'2022-04-12T08:47:19.000' AS DateTime), N'AMD')
INSERT [dbo].[Manufacturers_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (3, N'{ED5C176A-6DB6-499D-B2D1-C627EA4E7ADF}', CAST(N'2022-04-12T08:47:19.000' AS DateTime), N'Cryorig')
SET IDENTITY_INSERT [dbo].[Manufacturers_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturers_Oracle] ON 

INSERT [dbo].[Manufacturers_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (1, N'{D85847C5-7519-49C3-BDBD-A907A7551555}', CAST(N'2022-04-12T08:48:33.000' AS DateTime), N'"Intel"')
INSERT [dbo].[Manufacturers_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (2, N'{D85847C5-7519-49C3-BDBD-A907A7551555}', CAST(N'2022-04-12T08:48:33.000' AS DateTime), N'"AMD"')
INSERT [dbo].[Manufacturers_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Name]) VALUES (3, N'{D85847C5-7519-49C3-BDBD-A907A7551555}', CAST(N'2022-04-12T08:48:33.000' AS DateTime), N'"ASUS"')
SET IDENTITY_INSERT [dbo].[Manufacturers_Oracle] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchases_MSSQL] ON 

INSERT [dbo].[Purchases_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Price], [Amount], [ManufacturerID], [ComponentID]) VALUES (1, N'{A4C180E3-713B-439D-B69B-40991352CA5D}', CAST(N'2022-04-12T08:47:20.000' AS DateTime), N'2021-02-02', N'192', N'50', N'1', N'1')
INSERT [dbo].[Purchases_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Price], [Amount], [ManufacturerID], [ComponentID]) VALUES (2, N'{A4C180E3-713B-439D-B69B-40991352CA5D}', CAST(N'2022-04-12T08:47:20.000' AS DateTime), N'2021-02-05', N'213', N'35', N'2', N'1')
INSERT [dbo].[Purchases_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Price], [Amount], [ManufacturerID], [ComponentID]) VALUES (3, N'{A4C180E3-713B-439D-B69B-40991352CA5D}', CAST(N'2022-04-12T08:47:20.000' AS DateTime), N'2021-02-07', N'317', N'20', N'3', N'1')
SET IDENTITY_INSERT [dbo].[Purchases_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchases_Oracle] ON 

INSERT [dbo].[Purchases_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Price], [Amount], [ManufacturerID], [ComponentID]) VALUES (1, N'{A3DE6DED-3704-4918-A622-A40913C720D4}', CAST(N'2022-04-12T08:48:33.000' AS DateTime), N'25-AUG-17', N'84.43', N'100', N'1', N'1')
INSERT [dbo].[Purchases_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Price], [Amount], [ManufacturerID], [ComponentID]) VALUES (2, N'{A3DE6DED-3704-4918-A622-A40913C720D4}', CAST(N'2022-04-12T08:48:33.000' AS DateTime), N'05-DEC-17', N'103.83', N'50', N'1', N'2')
INSERT [dbo].[Purchases_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Price], [Amount], [ManufacturerID], [ComponentID]) VALUES (3, N'{A3DE6DED-3704-4918-A622-A40913C720D4}', CAST(N'2022-04-12T08:48:33.000' AS DateTime), N'31-OCT-18', N'194.09', N'23', N'1', N'3')
SET IDENTITY_INSERT [dbo].[Purchases_Oracle] OFF
GO
SET IDENTITY_INSERT [dbo].[Purpose_of_sale_MSSQL] ON 

INSERT [dbo].[Purpose_of_sale_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Definition]) VALUES (1, N'{6F1E68E5-1FA1-47E5-99D5-739B14F93A96}', CAST(N'2022-04-12T08:47:21.000' AS DateTime), N'Home')
INSERT [dbo].[Purpose_of_sale_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Definition]) VALUES (2, N'{6F1E68E5-1FA1-47E5-99D5-739B14F93A96}', CAST(N'2022-04-12T08:47:21.000' AS DateTime), N'Gaming')
INSERT [dbo].[Purpose_of_sale_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Definition]) VALUES (3, N'{6F1E68E5-1FA1-47E5-99D5-739B14F93A96}', CAST(N'2022-04-12T08:47:21.000' AS DateTime), N'Business')
SET IDENTITY_INSERT [dbo].[Purpose_of_sale_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Purpose_of_sale_Oracle] ON 

INSERT [dbo].[Purpose_of_sale_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Definition]) VALUES (1, N'{FDD06AAE-ECF2-429E-B185-D787E4BF7685}', CAST(N'2022-04-12T08:48:34.000' AS DateTime), N'"Home"')
INSERT [dbo].[Purpose_of_sale_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Definition]) VALUES (2, N'{FDD06AAE-ECF2-429E-B185-D787E4BF7685}', CAST(N'2022-04-12T08:48:34.000' AS DateTime), N'"Gaming"')
INSERT [dbo].[Purpose_of_sale_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Definition]) VALUES (3, N'{FDD06AAE-ECF2-429E-B185-D787E4BF7685}', CAST(N'2022-04-12T08:48:34.000' AS DateTime), N'"Business"')
SET IDENTITY_INSERT [dbo].[Purpose_of_sale_Oracle] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales_MSSQL] ON 

INSERT [dbo].[Sales_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Amount], [PurposeID], [CustomerID], [ComputerID], [Price]) VALUES (1, N'{2746A185-ED74-48B7-B6C6-97A3169CFD27}', CAST(N'2022-04-12T08:47:22.000' AS DateTime), N'2021-04-22', N'1', N'1', N'2', N'1', N'1400')
INSERT [dbo].[Sales_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Amount], [PurposeID], [CustomerID], [ComputerID], [Price]) VALUES (2, N'{2746A185-ED74-48B7-B6C6-97A3169CFD27}', CAST(N'2022-04-12T08:47:22.000' AS DateTime), N'2021-05-12', N'1', N'1', N'6', N'3', N'900')
INSERT [dbo].[Sales_MSSQL] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Amount], [PurposeID], [CustomerID], [ComputerID], [Price]) VALUES (3, N'{2746A185-ED74-48B7-B6C6-97A3169CFD27}', CAST(N'2022-04-12T08:47:22.000' AS DateTime), N'2021-05-02', N'1', N'3', N'5', N'6', N'1500')
SET IDENTITY_INSERT [dbo].[Sales_MSSQL] OFF
GO
SET IDENTITY_INSERT [dbo].[Sales_Oracle] ON 

INSERT [dbo].[Sales_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Amount], [PurposeID], [CustomerID], [ComputerID], [Price]) VALUES (1, N'{C7427503-CA7D-4858-918A-2A8F228129E3}', CAST(N'2022-04-12T08:48:34.000' AS DateTime), N'09-SEP-19', N'1', N'4', N'20', N'1', N'4637.1')
INSERT [dbo].[Sales_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Amount], [PurposeID], [CustomerID], [ComputerID], [Price]) VALUES (2, N'{C7427503-CA7D-4858-918A-2A8F228129E3}', CAST(N'2022-04-12T08:48:34.000' AS DateTime), N'21-OCT-20', N'1', N'2', N'16', N'2', N'2604.28')
INSERT [dbo].[Sales_Oracle] ([ID], [EXECUTION_INSTANCE_GUID], [LOAD_DATE], [Date], [Amount], [PurposeID], [CustomerID], [ComputerID], [Price]) VALUES (3, N'{C7427503-CA7D-4858-918A-2A8F228129E3}', CAST(N'2022-04-12T08:48:34.000' AS DateTime), N'20-MAY-19', N'1', N'2', N'14', N'3', N'1441.67')
SET IDENTITY_INSERT [dbo].[Sales_Oracle] OFF
GO
USE [master]
GO
